@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; }
}

#mydiv {
	position: absolute;
	z-index: 9;
	background-color: #f1f1f1;
	border: 1px solid #d3d3d3;
	text-align: center;
}

#mydivheader {
	padding: 10px;
	cursor: move;
	z-index: 10;
	background-color: #2196F3;
	color: #fff;
}

#drop-area {
	width: 100px;
	height: 100px;
	background-color: gray;
}

#moon {
	position: absolute;
	cursor: pointer;
	margin: auto;
	top: 0;
	right: 0px;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border-radius: 50%;
	box-shadow: inset -5px -2px 0px 0px #fff;
}

